{
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true, "useBuiltIns": true }],
    ["transform-class-properties", { "spec": true }]
    ["emotion"],
    ["transform-decorators-legacy"]
  ],
}
