@import '@fontsource-variable/space-grotesk';
@import '@fontsource/space-mono/400.css';
@import '@fontsource/space-mono/700.css';

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
